@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
}

window#waybar {
  background-color: @dark-9;
  color: white;
}

#workspaces button {
  padding: 3px;
  margin: 7px 0px 7px 0px;
  background: transparent;
  border-radius: 2px;
  color: white;
}

#workspaces button.active {
  background: @highlight;
  color: black;
  font-weight: 700;
}

#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#volume {
  border-radius: 8px;
  padding: 5px 8px;
  background: @dark-8;
  margin: 5px 10px 5px 0px;
}

#tray
{
  border-radius: 8px;
  padding: 5px 10px;
  background: @dark-7;
  margin: 5px 10px 5px 100px;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

#media {
  color: #42ff9f;
  margin: 7px 0px 7px 80px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 14px;
}


tooltip label {
  color: white;
}


tooltip {
    border-radius: 8px;
    background: @dark-9;
    opacity:0.9;
    padding:20px;
    margin:0px;
}

